// Specific CSS for your home-page
.search-area {
  padding-top: 50px;
}

.no-right-padding {
  padding-right: 0 !important
}


.no-left-padding {
  padding-left: 2 !important
}

.results-block {
  display: inline-block;
  margin-top: 20px;
}
