

  <div class="container mt-5">
    <div class="jumbotron text-center">
      <h1 class="display-4">Bienvenue sur Stock Tracker</h1>
      <p class="lead">Gérez votre portefeuille d'actions facilement.</p>
      <hr class="my-4">
      <%= link_to 'Mon Portefeuille', my_portfolio_path, class: 'btn btn-success btn-lg' %>
    </div>
  </div>
