.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.image-wrapper {
  background-color: white;
  display: inline-block;
}

.transparent-image {
  display: block;
}
